
body {
    background-color: rgb(255, 255, 255);
}

h1 {
    /* text-align: left; */
    color: #04AA6D;
    padding-left: 10%;
}
header {
    background: #04AA6D;
    color: white;
}
header a{
    color:white;
}
.loginpage {
    padding-left: 75%;
    /* text-align: right; */
}
.toppage {
    width: 49%;
    display: inline-block;  
}
/* .space {
    width: 19%;
    display: inline-block;
} */
ul li{
    display: inline;
    /* float: right; */
}

ul li a {
    text-decoration: none;
    margin-right: 10px;
}
/* .categories {
    border: 2px;
} */
.sidebar {
    width: 33%;
    display: inline-block;
}
.main_container {
    width: 66%;
    display: inline-block;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: grid;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .btn {
    background-color: #04AA6D;
    color: white;
    font-size: 25px;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.5;
  }

  .login_container {
    margin-left: 33%;
    margin-right: 33%;
    width: 34%;
    margin-top: 5%;
    background-color: white;
    padding: 20px;
    box-shadow: #04AA6D 5px;
  }
.home {
    color: white;
}

