* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #e9ecef;
}

h1 {
    /* text-align: left; */
    color: #04AA6D;
    padding-left: 10%;
    margin-bottom: 15px;
}

h2 {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;
}

h3 {
    margin-bottom: 10px;
    /*padding-left: 10px;*/
}

p {
    margin: 15px 0;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 10px;
}
header {
    background: #04AA6D;
    color: white;
    padding: 20px 20px;
}
footer {
    text-align: center;
}
header a{
    color:white;
    /*display: flex;*/
}

.aside{
    margin-top: 10px;
}
.loginpage {
    padding-left: 75%;
    /* text-align: right; */
}
.toppage {
    width: 49%;
    display: inline-block;
}
/* .space {
    width: 19%;
    display: inline-block;
} */

.post-categories-icon{
    width: 24px;
    height: 24px;
    stroke: #04AA6D;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    margin-right: 10px;
}
.post-categories{
    margin-top: 200px;
    padding-left: 10px;
    /*z-index: 1;*/
    position: fixed;
    /*top: 0;*/
    /*position: absolute;*/
}
.categories {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    font-size: 20px;
}
.sidebar {
    /*width: 33%;*/
    /*display: inline-block;*/
}
.main_container {
    /*width: 66%;*/
    /*display: inline-block;*/

}

input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: grid;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .btn {
    background-color: #04AA6D;
    color: white;
    font-size: 25px;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.5;
  }

  .category-button {
      border: none;
      background-color: #e9ecef;
      display: inline-flex;
      justify-content: center;
  }
  .category-button:hover{
      cursor: pointer;
  }

  .cat {
      margin: 3px 0 0 0;
  }

  .login_container {
    margin-left: 33%;
    margin-right: 33%;
    width: 34%;
    margin-top: 5%;
    background-color: white;
    padding: 20px;
    box-shadow: #04AA6D;
  }
.home {
    color: white;
}

header a{
    text-decoration: none;
}

.general_container{
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    align-items: start;
    position: relative;
    padding-top: 30px;
}

header {
    grid-column: 1 / -1;
    width: 1100px;
    /*margin: 0 auto;*/
    z-index: 1;
    position: fixed;
}

footer {
    grid-column: 1 / -1;
    margin-left: 15px;
}

main {
    margin-left: 150px;
    /*padding-top: 150px;*/
    margin-top: 130px;
    /*box-shadow: 0px 20px 30px 0px rgba(0.09, 0, 0.09, 0.09);*/

}

aside {
    margin-right: 15px;
    margin-top: 130px;
    /*box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.09);*/
    background-color: #f8f9fa;
    /*margin-left: 10px;*/
}

.button {
    width: 50px;
    height: 50px;
    stroke: #fff;
    /*box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.07);*/
}
.btn-post {
    position: fixed;
    bottom: 60px;
    right: 60px;
    background-color: #04AA6D;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.19);
}
.btn-post:hover {
    cursor: pointer;
    opacity: 0.9;
}

.post_general_container {
    width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    /*gap: 20px;*/

}

.post-container {
    margin-top: 180px;
    display: flex;
    gap: 30px;
}

.post-form {
    /*width: 733px;*/
    margin-left: 20px;
}

.post-history {
    width: 25%;
    margin-left: 25px;
    margin-right: 20px;
    padding-left: 10px;
    align-content: center;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.07);
}

.my-post-title {
    margin-left: 0;
}
.aside {
    margin-left: 10px;
}
.my-post-title {
    margin-top: 10px;
}
.post-title {
    width: 50%;
}
.history-categories-icon {
    width: 24px;
    height: 24px;
    stroke: #04AA6D;
    /*margin-top: 10px;*/
}
.delete-post-icon {
    width: 24px;
    height: 24px;
    stroke: #04AA6D;
    margin-left: 10px;
}
.title-list {
    display: inline-flex;
}
.post-update {
    margin-top: 4px;
}

textarea {
    padding: 12px 20px;
    margin: 8px 0;
}
.error {
    color: red;
    margin-left: 50px;
}

.post-image {
    margin-bottom: 20px;
}

.recent-posts {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
}

.each-post {
    margin-top: 15px;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 10px 0;
}
.btnDelete {
    margin-top: 4px;
}

.addNewCat {
    width: 50%;
}
.popular-posts {
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 10px;

}